/* General Styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  font-size: 2rem;
  color: #333;
  margin: 20px 0;
}

form {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

label {
  font-size: 1rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 8px;
  display: block;
}

input,
select,
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
}

input[type="file"] {
  padding: 0;
}

textarea {
  resize: vertical;
  min-height: 100px;
}

button {
  background-color: #6FC6AC;
  color: black;
  font-weight: 700;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  font-size: 1rem;
  cursor: pointer;
  width: 100%;
}

button:hover {
  background-color: #0056b3;
}

img {
  margin-top: 10px;
  max-width: 120px;
  height: auto;
  display: block;
}

@media (max-width: 768px) {
  form {
    padding: 15px;
    margin: 10px;
  }

  h1 {
    font-size: 1.5rem;
  }

  label {
    font-size: 0.9rem;
  }

  input,
  select,
  textarea {
    font-size: 0.9rem;
    padding: 8px;
  }

  button {
    font-size: 0.9rem;
  }


}

@media (max-width: 480px) {
  form {
    padding: 10px;
  }

  h1 {
    font-size: 1.25rem;
  }

  label {
    font-size: 0.85rem;
  }

  input,
  select,
  textarea {
    font-size: 0.85rem;
    padding: 6px;
  }

  button {
    font-size: 0.85rem;
    margin-top: 10px;
  }


}
